body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

// Declare global variables
:root {
    // Brand Colors
    --brand-primary: #6efe00;
    --brand-secondary: #9800ef;
    --brand-black: #111111;
    --brand-white: #fdfbff;
}
